@import 'assets/styles/variables.scss';

.container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin-left: 15%;
}

.linkContainer {
  display: flex;
  justify-content: center;
  width: 8rem;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
}

.link {
  font: 1vw $default-font-family;
  color: white !important;
  text-decoration: none !important;
}

.link:hover {
  color: $light-grey !important;
}

.linkGrey {
  font: 1vw $default-font-family;
  color: $grey !important;
  text-decoration: none !important;
}

.linkGrey:hover {
  color: $dark-grey !important;
}
