@import 'assets/styles/variables.scss';

.card {
  display: block;
  width: 100%;
  padding: 0;
}

.topArea {
  position: absolute;
  height: 12rem;
  width: 100%;
  background-color: $default-orange;
}

.picture {
  position: relative;
  height: 10rem;
  margin-top: 7rem;
  margin-left: 5%;
  z-index: 1;
  border: 0.3rem solid white;
}

.text {
  margin: 18rem 5% 5% 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid lightgrey;
}

.name {
  font-size: 14pt;
  margin-bottom: 0;
}

.bio {
  font-size: 11pt;
  margin-bottom: 0;
}

.profileFields {
  margin-left: 5%;
  margin-right: 5%;
}

.field {
  font-size: 11pt;
  margin-bottom: 0.6rem;
}

.link {
  color: $primary-color;
  cursor: pointer;
}

.link:hover {
  color: $primary-color-action;
  text-decoration: underline;
}
