@import 'assets/styles/variables.scss';

.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.heading {
  margin-top: 5%;
}

.form {
  background-color: $background-color;
  padding: 5% 5% 8% 5%;
  margin: 5% 0 5% 0;
}

.nameLabel {
  margin-left: 0.5%;
}

.finishButton {
  float: right;
  margin-top: 2%;
  padding: 1% 4% 1% 4%;
  background-color: $primary-color;
  border: none;
}

.finishButton:hover {
  background-color: $secondary-color;
}
