// Fonts
$default-font-family: Quicksand;

// Colors
$primary-color: #42a5f5;
$secondary-color: #3d5afe;
$background-color: #F5F5F5;
$orange-button: #ff9100;

$light-grey: #bdbdbd;
$grey: #757575;
$dark-grey: #424242;

$default-orange: #F5B041;
